.header {
  height: 40px;
}

#cruise-map {
  height: 100%;
  padding: 0; 
  margin: 0;
  border-style: none;
}

#temp, #speed, #prosyn, #sal, #size {
  height: 100px;
}

#abundance {
  height: 165px;
}

.left-float-div1{
  background: none; 
  border-style: none;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 10px;
}

.left-float-div2{
  background: none; 
  border-style: none;
  position: absolute;
  top: 65px;
  left: 25px;
  width: 10px;
}

.left-float-div-bottom{
  border-radius: 4px;
  background: white;
  border-style: none;
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 130px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.options-button{
  background:rgba(255,255,255,1); 
  border-style: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.options-button:focus{
  border-style: none;
  outline: none;
}

.navmenu{
  width: 40%;
  border-style: none;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.navmenu-item{
  top:5px;
  width:100%;
}

.material-icons.md-18 { font-size: 18px; }

.row{
  width: 100%;
}

.highcharts-container{width:100% !important; height:100% !important;}

.slider.slider-horizontal{
  width:45px;
  margin-right:1em;
  margin-left: 1em;
}

.slider-selection, .slider-track-high{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#slider_panel {
  padding: 0.5em 1em;
}

.slider_panel_text{
  padding-bottom: 1px;
  margin-bottom: 0px;
  font-weight: bold;
}

.slider-handle{
  background: rgb(51, 51, 51);
}